* {
    padding: 0;
    margin: 0;
}

html {
    font-family: "Roboto", sans-serif;
}

.header {
    /* background-color: red; */
    width: 100%;
    height: 108px;
    margin: 0 auto;
    justify-content: center;
    background-color: white;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .logo a img {
    width: 100px;
    height: 63px;
    /* margin-left: 85px; */
}

.menu nav ul li {
    display: inline-block;
    justify-content: center;
}

/* .home {
    background-color: rgb(3,78,161);
    width: 88px;
} */

.home a {
    color: white;
    font-weight: bolder;
    padding: 33px 14px 33px 14px;
}

.menu nav ul li a {
    font-size: 15px;
    text-decoration: none;
    /* margin-right: 1px; */
    color: black;
    text-transform: uppercase;
    margin-left: 20px;
    padding: 33px 14px 33px 14px;
}

.banner {
    padding-top: 35%;
    background: url(Picture/banner_2_5bb1ad24c8614286a924e55e5d04ee5c_master.jpg) top center / cover no-repeat;
    position: relative;
}

.page-ruler {
    /* background-color: aqua; */
    width: 1200px;
    height: 382px;
    margin: 0 auto;
    margin-top: 70px;
}

.page-ruler-1 img {
    background-color: blue;
    width: 236px;
    height: 382px;
    float: left;
    margin-left: 10px;
}

.page-ruler-2 img {
    background-color: red;
    width: 462px;
    height: 186px;
    float: left;
    margin-left: 10px;
}

.page-ruler-3 img {
    background-color: green;
    width: 462px;
    height: 186px;
    margin-left: 10px;
    float: left;
}

.page-ruler-4 img {
    background-color: blueviolet;
    width: 226px;
    height: 185px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.page-ruler-5 img {
    background-color: darkgreen;
    width: 226px;
    height: 185px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.page-ruler-6 img {
    background-color: salmon;
    width: 226px;
    height: 185px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.page-ruler-7 img {
    background-color: teal;
    width: 226px;
    height: 185px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.title-product {
    /* background-color: aqua; */
    width: 100%;
    height: 540px;
    position: relative;
}

.title {
    background-color: #034EA1;
    width: 355px;
    height: 28px;
    color: white;
    margin: 0 auto;
    text-align: center;
    display: block;
    line-height: 25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    margin-top: 30px;
    margin-bottom: 32px;
}

.col {
    width: 230px;
    height: 408px;
    border: 1px solid rgb(239,239,239);
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    float: left;
    /* margin-bottom: 120px; */
}

.col img {
    padding: 10px;
    padding-bottom: 30px;
    margin: 0 auto;
    width: 208px;
    height: 208px;
}

.col .product {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-top: 24px;
    border-top: 1px solid rgb(239,239,239);
}

.col .price {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: red;
}

/* san pham cho nam */
.title-2 {
    background-color: #034EA1;
    width: 355px;
    height: 28px;
    color: white;
    margin: 0 auto;
    text-align: center;
    display: block;
    line-height: 25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.title-2 {
    background-color: #034EA1;
    width: 220px;
    height: 28px;
    color: white;
    margin: 0 auto;
    text-align: center;
    display: block;
    line-height: 25px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer{
    padding:10px;
    text-align:center;
    background: white;
    margin-top:10px;
    background-color: white;
}
.col:hover{
    background-color: rgb(229, 255, 0);
    color:red;
}